.header_container {
	grid-column: Header;

	font-size: 1.5em;
	color: white;
	width: 100vw;
	height: 100%;

	display: grid;
	grid-template-columns:
		[info_bar] 95vw
		[menu_button] 5vw;
	align-content: center;
	justify-content: center;
}
.dark { border: .125em solid blue; }
.bright { border: .125em solid green; }

.info_bar {
	grid-column: info_bar;

	height: 100%;
	width: 100%;
	color: white;
}

.change_color_btn {
	grid-column: menu_button;

	border: .125em solid orange;
	color: pink;
	height: 100%;
}
